#if ($value)	#set ($userList = $jiraUserUtils.getAllUsersInGroupNames([$value]))	<select name="$customField.id">	#foreach ( $user in $userList )		<option>$jiraUserUtils.getDisplayableNameSafely($user)</option>	#end	</select>#end